---
---
<main class="block" id="text-header">
    <h1>The Religion of the Druids</h1>
    <p>By <span id="text-author">Caesar</span></p>
    <a id="toggle-language" class="button card" href="#~">Toggle Latin/English</a>
</main>
<section class="block text-lines" id="text-content">
    <p>natio omnis Gallorum est magnopere dedita religionibus, atque ob eam causam ei, qui sunt affecti gravioribus morbis quique in proeliis periculisque versantur, aut pro victimis homines immolant aut se immolaturos esse vovent administrisque ad ea sacrificia Druidibus utuntur, quod, nisi pro vita hominis reddatur hominis vita, non posse deorum immortalium numen placari arbitrantur: publiceque eiusdem generis habent instituta sacrificia. alii simulacra ingenti magnitudine habent, quorum membra viminibus contexta vivis hominibus complent; simulacris incensis homines flamma circumventi pereunt. supplicia eorum qui in furto, aut in latrocinio aut aliqua noxia sint comprehensi gratiora deis immortalibus esse arbitrantur; sed, cum copia eius generis defecit, etiam ad innocentium supplicia descendunt.</p>
</section>
<section class="block text-lines" id="text-translation">
    <p>The entire nation of the Gauls is greatly devoted to religious matters, and for that reason those who have been affected with rather serious illnesses and those who are engaged in battles and dangers either sacrifice or vow that they will sacrifice men as victims, and they use the Druids as assistants for those sacrifices, because, unless the life of a man is offered up in the place of the life of a man, they judge that the power of the immortal gods cannot be appeased, and they have established and hold sacrifices of the same sort in the name of the state. Others have figures of great size, whose bodies woven with branches they fill with living men; when the figures have been burned, the men, encircled by flames, die. The executions of those who have been caught in theft or robbery or some other offence are thought to be more pleasing to the immortal gods; but, when the supply of that sort runs out, they even descend to the executions of innocent men.<br></p>
</section>
<section class="block" id="text-analyses">
    <h1>Summary of analyses</h1>
    
    
    <div class="card quotation" id="gravioribus-morbis">
        <h2>gravioribus morbis</h2>
        
        <div class="annotation">
            <h3>Litotes: </h3><p>By playing down the reasons that the Gauls turned to human sacrifice, Caesar makes them seem barbaric as they sacrifice humans often
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="immolant-aut-se-immolaturos">
        <h2>immolant aut se immolaturos</h2>
        
        <div class="annotation">
            <h3>Polypoton: </h3><p>Shows that sacrifice was a regular occurance was a regular occurance in Gallic society
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="vita-hominis-reddatur-hominis-vita">
        <h2>vita hominis reddatur hominis vita</h2>
        
        <div class="annotation">
            <h3>Chiasmus: </h3><p>Balance shows the justification for it in society. Reflects how one life is equal to another in the eyes of the gods when sacrificed
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="deorum-immortalium">
        <h2>deorum immortalium</h2>
        
        <div class="annotation">
            <h3>Pleonasm: </h3><p>This sarcasm mocks the Druids and their beliefs. Emphasised by repetition.
</p>
        </div>
        
        <div class="annotation">
            <h3>Contrast: </h3><p>The contrast between the immortal (&#x27;immortalium&#x27;) gods and the very mortal human sacrifices is shown here in this repeated phrase
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="incensis-homines-flamma">
        <h2>incensis homines flamma</h2>
        
        <div class="annotation">
            <h3>Enclosing Word order: </h3><p>The men are literally surrounded by burning (&#x27;incensis&#x27;) and flames (&#x27;flamma&#x27;), emphasising the vivid imagery of their burning
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="furto-aut-in-latrocinio-aut-aliqua-noxia">
        <h2>furto aut in latrocinio aut aliqua noxia</h2>
        
        <div class="annotation">
            <h3>Tricolon: </h3><p>A list of what must be done in order to be sacrificed by the Druids, emphasises their barbaric nature
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="aliqua-noxia">
        <h2>aliqua noxia</h2>
        
        <div class="annotation">
            <h3>Word choice: </h3><p>This is very vague, using the catch-all phrase &#x27;aliqua noxia&#x27; (other offences), portrays the Druids&#x27; cruelty and their barbaric nature
</p>
        </div>
        
    </div>
    
</section>
<a id="backtotop" class="button" href="#">Top</a>
<script>
 const toggle_language = document.querySelector("#toggle-language");
 const latin = document.querySelector("#text-content");
 const english = document.querySelector("#text-translation");

 function toggleLanguage() {
     if (latin.style.display == "none" && english.style.display == "block") {
         latin.style.display = "block";
         english.style.display = "none";
     } else {
         latin.style.display = "none";
         english.style.display = "block";
     }
 }
 toggle_language.addEventListener("click", toggleLanguage);

 const infoAnnotations = document.querySelector("#info-annotations");
 const annotations = document.querySelectorAll(".annotation");
 const content = document.querySelector("#text-content p");
 var newContent = content.innerHTML;

 for (var i = 0, a; a = annotations[i]; i++) {
     var latinLocations = a.parentNode.querySelector("h2").innerHTML.split(' | ');
     var latinID = a.parentNode.id;

     latinLocations.forEach(function(latinLocation) {
         latinLocation = latinLocation.replace(" \\ ", "<br>");
         var formulatedLink = "<a href='#" + latinID +"'>" + latinLocation + "</a> ";
         if (!newContent.includes('href=\'#' + latinID + '\'') || latinLocations.length > 1) {
             const regex = new RegExp(latinLocation + "[^-(')(/a)]", "gi");
             newContent = newContent.replace(regex, "<span class='highlight'>" + formulatedLink + "</span>");
         }
     });
 }
// newContent.replace("<br>", "<br>");
 content.innerHTML = newContent;
</script>
