section#literature-texts {
    .text-card {
        display: block;

        &:hover {
            background: $primary-color;
            color: white;
            border: 1px solid $primary-color;
        }
    }
}

main#text-header {
    margin-left: 2em;
    width: 60rem;
    margin: 0 auto;
    max-width: 90%;

    h1 {
        margin-bottom: 0.1em;
    }

    span#text-author {
        font-style: italic;
    }

    a#toggle-language {
        text-align: right;
        display: inline-block;
        margin: 0;

        &:hover {
            background: $primary-color;
            color: white;
            border: 1px solid $primary-color;
        }
    }
}

section.text-lines {
    width: 60rem;
    max-width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 4rem;

    @include mobile {
        width: 90%;
        font-size: 1.35rem;
        line-height: 2rem;
    }

    br {
        margin-bottom: 1em;
    }
}

#backtotop {
    position: fixed;
    bottom: 1em;
    right: 1em;
    padding: 1em;
}

:target {
    border: 3px solid $primary-color !important;
    -webkit-animation: target-fade 1s 1;
    -moz-animation: target-fade 1s 1;
}

@-webkit-keyframes target-fade {
    0% { background-color: rgba($primary-color,.5); }
    100% { background-color: rgba(0,0,0,0); }
}

@-moz-keyframes target-fade {
    0% { background-color: rgba($primary-color,.5); }
    100% { background-color: rgba(0,0,0,0); }
}

section#text-translation {
    display: none;
    font-style: italic;
}

.top-sticky {
    margin-top: 5em !important;
}

section#text-content {
    span.highlight {
        a {
            background: $secondary-color;
            color: white;
            padding: 0.1em;

            &:hover {
                background: darken($secondary-color, 25%);
            }
        }
    }
}

section#text-analyses {
    border: 1px solid black;
    padding: 1em;
    max-width: 90%;
    width: 60rem;

    div.quotation {
        border: 0;
        padding: 0.2em 0.5em 0;
        border-top: 2px solid black;

        div.annotation {
            padding: 1.5em 0.8em;
            border-top: 1px solid black;
        }

        h2 {
            margin-bottom: 0.5em;
            font-style: italic;
            display: block;
            font-weight: normal;
        }

        h3 {
            font-size: 1.3em;
            color: $primary-color;
            display: inline;
        }

        p {
            font-size: 1.1em;
            display: inline;
        }
    }
    @include mobile {
        width: 88%;
    }
}
