nav {
    margin: 1rem auto;
    text-align: center;

    h1 {
        margin: 0 auto;

        a {
            font-size: 3rem;
            display: inline;
            color: black;

            &:hover {
                color: $primary-color;
            }

            @include mobile {
                font-size: 2rem;
            }
        }
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0.5em;

        @include mobile {
            flex-wrap: wrap;

            li {
                margin-bottom: 0.9em;
            }
        }

        li {
            padding: 0 0.5em;

            a {
                padding: 0.3em 1em;
                color: $primary-color;
                font-size: 1.3em;
                border-bottom: 2px solid black;

                &:hover {
                    color: white;
                    background: $primary-color;
                    border-bottom: 2px solid $primary-color;
                }
            }
        }
    }
}

fieldset#level_choice {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
    top: 0.1em;
    left: 0.1em;

    @include mobile {
        position: relative;
        top: 0;
        left: 0;
        flex-direction: row;
    }

    input {
        min-width: auto;
    }
}
