---
---
<main class="block" id="text-header">
    <h1>The Power of the Druids</h1>
    <p>By <span id="text-author">Caesar</span></p>
    <a id="toggle-language" class="button card" href="#~">Toggle Latin/English</a>
</main>
<section class="block text-lines" id="text-content">
    <p>Druides rebus divinis intersunt, sacrificia publica ac privata procurant, religiones interpretantur: ad hos magnus adulescentium numerus disciplinae causa concurrit, magnoque hi sunt apud eos honore. Nam fere de omnibus controversiis publicis privatisque constituunt, et, si quod est admissum facinus, si caedes facta, si de hereditate, de finibus controversia est, idem decernunt, praemia poenasque constituunt. si quis aut privatus aut publicus eorum decreto non stetit, sacrificiis interdicunt. haec poena apud eos est gravissima. ei quibus ita interdictum est numero impiorum ac sceleratorum habentur; eis omnes decedunt, aditum sermonemque fugiunt, ne quid ex contagion incommode accipient; neque his petentibus ius redditur neque honos ullus datur. his autem omnibus Druidibus praeest unus, qui summam inter eos habet auctoritatem. hoc mortuo, aut si qui ex reliquis excellit dignitate succedit, aut si sunt multi pares, suffragio Druidum, nonnumquam etiam armis, de principatu contendunt. disciplina eorum in Britannia reperta atque inde in Galliam translata esse existimatur, et nunc ei, qui diligentius eam rem cognoscere volunt, plerumque in Britanniam discendi causa proficiscuntur.</p>
</section>
<section class="block text-lines" id="text-translation">
    <p>The Druids are involved with divine affairs, they conduct public and private sacrifices, and interpret all religious matters. A large number of young men gather towards these men to learn, and they (The Druids) amoung them (the young men) are in high esteem. For they decide almost every controversy, whether public or private, and if a crime has been perpetrated, or a murder committed, or if there is a dispute about inheritance or boundaries, the Druids make a decision about it. They also &#x27;decide&#x27; upon rewards and punishments. If any man, either in a public or private capacity, does not stand by their decision, they ban them from sacrifices. This punishment is the most serious amoungst these men. Those men, who have been banned, are held amoungst the number of impious and wicked men. Everyone shuns these men, and flees their companion lest they should catch something from the contact of evil. Justice is also not given to those seeking it and neither are any honours. One of the Druids presides over all of them, who has the highest authority amoung them. With his death, if there is one man who excels in dignity, he succeeds, or if there are many who are equal, then they contend in an elections of the Druids for the presidency, not never with weapons. It is thought that the disciplines of these men were discovered in Britain and brought across into Gaul and now, men, who want to discover more about this way of life, set out to Britain to learn it.<br></p>
</section>
<section class="block" id="text-analyses">
    <h1>Summary of analyses</h1>
    
    
    <div class="card quotation" id="intersunt-procurant-interpretantur">
        <h2>intersunt | procurant | interpretantur</h2>
        
        <div class="annotation">
            <h3>Tricolon: </h3><p>Tricolon between &#x27;intersunt&#x27;, &#x27;procurant&#x27; and &#x27;interpretantur&#x27; highlights the breadth of the Druids control over society
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="publica-ac-privata">
        <h2>publica ac privata</h2>
        
        <div class="annotation">
            <h3>Repetition: </h3><p>Places emphasis on the Druids commanding control over both public (&#x27;publica&#x27;) and private (&#x27;privata&#x27;) areas of society
</p>
        </div>
        
        <div class="annotation">
            <h3>Alliteration: </h3><p>Use of harsh &#x27;p&#x27; sound encourages the reader to take notice of the Druids&#x27; control
</p>
        </div>
        
        <div class="annotation">
            <h3>Homeoteuleuton: </h3><p>Illustrates union of the two realms of society the Druids control
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="privatus-ac-publicus">
        <h2>privatus ac publicus</h2>
        
        <div class="annotation">
            <h3>Repetition: </h3><p>Places emphasis on the Druids commanding control over both public (&#x27;publica&#x27;) and private (&#x27;privata&#x27;) areas of society
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="publicis-privatisque">
        <h2>publicis privatisque</h2>
        
        <div class="annotation">
            <h3>Repetition: </h3><p>Places emphasis on the Druids commanding control over both public (&#x27;publica&#x27;) and private (&#x27;privata&#x27;) areas of society
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="magnoque-hi-sunt-apud-eos-honore">
        <h2>magnoque hi sunt apud eos honore</h2>
        
        <div class="annotation">
            <h3>Emphatic Word Order: </h3><p>The Druids are literally &#x27;held&#x27; between great (&#x27;magnoque&#x27;) and honour (&#x27;honore&#x27;), emphasising said honour
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="haec-poena-apud-eos-est">
        <h2>haec poena apud eos est</h2>
        
        <div class="annotation">
            <h3>Short Sentence: </h3><p>Emphasises how serious the punishment is and the capacity the Druids have to inact it
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="gravissima">
        <h2>gravissima</h2>
        
        <div class="annotation">
            <h3>Emphatic Word Placement: </h3><p>This superlative is placed at the end of the sentence, encouraging the reader to reflect upon it
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="impiorum-ac-sceletorum">
        <h2>impiorum ac sceletorum</h2>
        
        <div class="annotation">
            <h3>Tautology: </h3><p>Emphasises the individual nature of impiety (&#x27;impiorum&#x27;) being separate from other wicked (&#x27;sceletorum&#x27;) deeds
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="eis-omnes-decedunt">
        <h2>eis omnes decedunt</h2>
        
        <div class="annotation">
            <h3>Emphatic Word Order: </h3><p>The banned men (&#x27;eis&#x27;), are literally shunned (&#x27;decedunt&#x27;) by all (&#x27;omnes&#x27;), emphasising the severity of being banned
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="nonnumquam">
        <h2>nonnumquam</h2>
        
        <div class="annotation">
            <h3>Litotes: </h3><p>The violence in elections is understated, emphasising the rarity of the occasion that they use weapons
</p>
        </div>
        
    </div>
    
</section>
<a id="backtotop" class="button" href="#">Top</a>
<script>
 const toggle_language = document.querySelector("#toggle-language");
 const latin = document.querySelector("#text-content");
 const english = document.querySelector("#text-translation");

 function toggleLanguage() {
     if (latin.style.display == "none" && english.style.display == "block") {
         latin.style.display = "block";
         english.style.display = "none";
     } else {
         latin.style.display = "none";
         english.style.display = "block";
     }
 }
 toggle_language.addEventListener("click", toggleLanguage);

 const infoAnnotations = document.querySelector("#info-annotations");
 const annotations = document.querySelectorAll(".annotation");
 const content = document.querySelector("#text-content p");
 var newContent = content.innerHTML;

 for (var i = 0, a; a = annotations[i]; i++) {
     var latinLocations = a.parentNode.querySelector("h2").innerHTML.split(' | ');
     var latinID = a.parentNode.id;

     latinLocations.forEach(function(latinLocation) {
         latinLocation = latinLocation.replace(" \\ ", "<br>");
         var formulatedLink = "<a href='#" + latinID +"'>" + latinLocation + "</a> ";
         if (!newContent.includes('href=\'#' + latinID + '\'') || latinLocations.length > 1) {
             const regex = new RegExp(latinLocation + "[^-(')(/a)]", "gi");
             newContent = newContent.replace(regex, "<span class='highlight'>" + formulatedLink + "</span>");
         }
     });
 }
// newContent.replace("<br>", "<br>");
 content.innerHTML = newContent;
</script>
