<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
        <fieldset id="level_choice">
            <legend>Level</legend>
            <div>
                <input type="radio" id="alevel-on" class="level" name="level" checked tab-index="1">
                <label for="alevel-on">A Level</label>
            </div>
            <div>
                <input type="radio" id="alevel-off" class="level" name="level" tab-index="2">
                <label for="alevel-off">GCSE</label>
            </div>
        </fieldset>
        <nav>
            <h1><a href="{{ $.Site.BaseURL }}">{{ $.Site.Title }}</a></h1>
            <ul>
                <li><a href="{{ $.Site.BaseURL }}test/">Vocabulary</a></li>
                <li><a href="{{ $.Site.BaseURL }}literature/">Literature</a></li>
                <li><a href="{{ $.Site.BaseURL }}pronouns/">Pronouns</a></li>
                <li><a href="{{ $.Site.BaseURL }}teachers/">Teachers</a></li>
            </ul>
        </nav>
        {{ block "main" . }}{{ end }}
        <footer>
            {{- partial "footer.html" . -}}
        </footer>
        <script>
            const levelRadios = document.getElementsByClassName("level");
            levelRadios[0].addEventListener("click", updateLevel);
            levelRadios[1].addEventListener("click", updateLevel);
            function updateLevel() {
                if (levelRadios[0].checked) {
                    /*                  document.cookie = "level=ALevel; expires=" + date + ";"; */
                    window.localStorage.setItem("level", "ALevel")
                } else if (levelRadios[1].checked) {
                    /*                  document.cookie = "level=GCSE; expires=" + date + ";"; */
                    window.localStorage.setItem("level", "GCSE")
                }
                document.location.reload();
            }
            level = window.localStorage.getItem("level")
            if (level == "ALevel") {
                levelRadios[0].checked = true;
            } else if (level == "GCSE") {
                levelRadios[1].checked = true;
            } else {
                updateLevel();
            }
        </script>
    </body>
</html>
