---
---
<main class="block" id="text-header">
    <h1>The Aeneid IV (304-312)</h1>
    <p>By <span id="text-author">Virgil</span></p>
    <a id="toggle-language" class="button card" href="#~">Toggle Latin/English</a>
</main>
<section class="block text-lines" id="text-content">
    <p>Tandem his Aenean compellat vocibus ultro:<br>&#x27;Dissimulare etiam sperasti, perfide, tantum<br>posse nefas, tacitusque mea decedere terra?<br>Nec te noster amor, nec te data dextera quondam,<br>nec moritura tenet crudeli funere Dido?<br>Quin etiam hiberno moliris sidere classem,<br>et mediis properas aquilonibus ire per altum,<br>crudelis? Quid, si non arva aliena domosque<br>ignotas peteres, sed Troia antiqua maneret,</p>
</section>
<section class="block text-lines" id="text-translation">
    <p>At last she addresses Aeneas with these words first:<br>did you even hope to conceal so much harm,<br>treacherous one and to leave silently my land<br>does not our love hold you her, nor does the pledge once given hold you here<br>nor Dido doomed to a cruel death?<br>nay do you even in the season of winter labor with your fleet<br>and you hurried to go into the middle of the North Wind<br>through the cruel deep, if you were not seeking foreign fields and unknown homes<br>and if ancient Troy remains<br></p>
</section>
<section class="block" id="text-analyses">
    <h1>Summary of analyses</h1>
    
    
    <div class="card quotation" id="aenean">
        <h2>Aenean</h2>
        
        <div class="annotation">
            <h3>Greek Accusative: </h3><p>The &#x27;an&#x27; ending hailing back to Homer and his &#x27;Odyssey&#x27;
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="vocibus">
        <h2>vocibus</h2>
        
        <div class="annotation">
            <h3>Delayed Noun: </h3><p>Gives emphasis to Dido&#x27;s lack of clear thinking
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="dissimulare">
        <h2>dissimulare</h2>
        
        <div class="annotation">
            <h3>Promoted Verb: </h3><p>Shows Dido&#x27;s desire to get to the crime at hand
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="mea-decedere-terra">
        <h2>mea decedere terra</h2>
        
        <div class="annotation">
            <h3>Enclosing Word Order: </h3><p>Represents Dido&#x27;s desire to trap Aeneas in her lands
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="data-dextera">
        <h2>data dextera</h2>
        
        <div class="annotation">
            <h3>Alliteration: </h3><p>Unites the pledge (&#x27;dextera&#x27;) and given (&#x27;data&#x27;), emphasising the supposed validity of the rites
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="nec">
        <h2>nec</h2>
        
        <div class="annotation">
            <h3>Tricolon: </h3><p>Crescendo of love, the pledge, and death. Shows Dido&#x27;s desperation
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="hiberno-moliris-sidere">
        <h2>hiberno moliris sidere</h2>
        
        <div class="annotation">
            <h3>Enclosing Word Order: </h3><p>Represents Dido&#x27;s desire to trap Aeneas, with the help of the season (&#x27;sidere&#x27;) of winter (&#x27;hiberno&#x27;)
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="mediis-properas-aquilonibus">
        <h2>mediis properas Aquilonibus</h2>
        
        <div class="annotation">
            <h3>Enclosing Word Order: </h3><p>Represents Dido&#x27;s desire to trap Aeneas in the middle (&#x27;mediis&#x27;) of the North Winds (&#x27;Aquilonibus&#x27;) - she is calling upon forces greater than herself to accomplish this
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="domosque-ignotas">
        <h2>domosque \ ignotas</h2>
        
        <div class="annotation">
            <h3>Oxymoron: </h3><p>The enjambement emphasises the separation of this oxymoron of unknown (&#x27;ignotas&#x27;) homes (&#x27;domosque&#x27;), and is an attempt to show a futility to Aeneas&#x27; duty
</p>
        </div>
        
    </div>
    
</section>
<a id="backtotop" class="button" href="#">Top</a>
<script>
 const toggle_language = document.querySelector("#toggle-language");
 const latin = document.querySelector("#text-content");
 const english = document.querySelector("#text-translation");

 function toggleLanguage() {
     if (latin.style.display == "none" && english.style.display == "block") {
         latin.style.display = "block";
         english.style.display = "none";
     } else {
         latin.style.display = "none";
         english.style.display = "block";
     }
 }
 toggle_language.addEventListener("click", toggleLanguage);

 const infoAnnotations = document.querySelector("#info-annotations");
 const annotations = document.querySelectorAll(".annotation");
 const content = document.querySelector("#text-content p");
 var newContent = content.innerHTML;

 for (var i = 0, a; a = annotations[i]; i++) {
     var latinLocations = a.parentNode.querySelector("h2").innerHTML.split(' | ');
     var latinID = a.parentNode.id;

     latinLocations.forEach(function(latinLocation) {
         latinLocation = latinLocation.replace(" \\ ", "<br>");
         var formulatedLink = "<a href='#" + latinID +"'>" + latinLocation + "</a> ";
         if (!newContent.includes('href=\'#' + latinID + '\'') || latinLocations.length > 1) {
             const regex = new RegExp(latinLocation + "[^-(')(/a)]", "gi");
             newContent = newContent.replace(regex, "<span class='highlight'>" + formulatedLink + "</span>");
         }
     });
 }
// newContent.replace("<br>", "<br>");
 content.innerHTML = newContent;
</script>
