---
---
<main class="block" id="text-header">
    <h1>The Aeneid IV (313-319)</h1>
    <p>By <span id="text-author">Virgil</span></p>
    <a id="toggle-language" class="button card" href="#~">Toggle Latin/English</a>
</main>
<section class="block text-lines" id="text-content">
    <p>Troia per undosum peteretur classibus aequor <br>Mene fugis? Per ego has lacrimas dextramque tuam te<br>quando aliud mihi iam miserae nihil ipsa reliqui<br>per conubia nostra, per inceptos hymenaeos,<br>si bene quid de te merui, fuit aut tibi quicquam<br>dulce meum, miserere domus labentis, et istam—-<br>oro, si quis adhuc precibus locus—-exue mentem.<br></p>
</section>
<section class="block text-lines" id="text-translation">
    <p>Would Troy be sought with fleets through the stormy sea<br>Are you fleeing me? I beg through these tears and your right hand<br>Since I myself have left nothing else to wretched me<br>by our marriage, by the nuptial rites begun<br>if I deserved anything well from you, or if anything of mine was sweet to you<br>take misery on my fallen house<br>and get rid of that intention if there is any place still for prayers<br></p>
</section>
<section class="block" id="text-analyses">
    <h1>Summary of analyses</h1>
    
    
    <div class="card quotation" id="undosum-peteretur-classibus-aequor">
        <h2>undosum peteretur classibus aequor</h2>
        
        <div class="annotation">
            <h3>Enclosing Word Order: </h3><p>Dido tries (again) to trap the Trojans&#x27; voyage within a power greater than herself (the stormy sea - &#x27;undosum ... aequor&#x27;)
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="mene-fugis">
        <h2>mene fugis</h2>
        
        <div class="annotation">
            <h3>Interjected Interrogative: </h3><p>This is sudden, reminding the read of Dido&#x27;s great furor in this matter
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="per-conubia-nostra-per-inceptos-hymenaeos">
        <h2>per conubia nostra | per inceptos hymenaeos</h2>
        
        <div class="annotation">
            <h3>Tautology: </h3><p>Highlights Dido&#x27;s elevated view of the &quot;marriage&quot; that she had with Aeneas
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="oro">
        <h2>oro</h2>
        
        <div class="annotation">
            <h3>Interjection: </h3><p>Extremely late verb makes this a surprise, and is places as though Dido forgot - in her furor - to use a verb, and is only using it now to aid her persuasion
</p>
        </div>
        
    </div>
    
</section>
<a id="backtotop" class="button" href="#">Top</a>
<script>
 const toggle_language = document.querySelector("#toggle-language");
 const latin = document.querySelector("#text-content");
 const english = document.querySelector("#text-translation");

 function toggleLanguage() {
     if (latin.style.display == "none" && english.style.display == "block") {
         latin.style.display = "block";
         english.style.display = "none";
     } else {
         latin.style.display = "none";
         english.style.display = "block";
     }
 }
 toggle_language.addEventListener("click", toggleLanguage);

 const infoAnnotations = document.querySelector("#info-annotations");
 const annotations = document.querySelectorAll(".annotation");
 const content = document.querySelector("#text-content p");
 var newContent = content.innerHTML;

 for (var i = 0, a; a = annotations[i]; i++) {
     var latinLocations = a.parentNode.querySelector("h2").innerHTML.split(' | ');
     var latinID = a.parentNode.id;

     latinLocations.forEach(function(latinLocation) {
         latinLocation = latinLocation.replace(" \\ ", "<br>");
         var formulatedLink = "<a href='#" + latinID +"'>" + latinLocation + "</a> ";
         if (!newContent.includes('href=\'#' + latinID + '\'') || latinLocations.length > 1) {

             const regex = new RegExp(latinLocation + "[^-(')(/a)]", "gi");
             newContent = newContent.replace(regex, "<span class='highlight'>" + formulatedLink + "</span>");
         }
     });
 }
// newContent.replace("<br>", "<br>");
 content.innerHTML = newContent;
</script>
