---
---
<main class="block" id="text-header">
    <h1>The Aeneid IV (381-396)</h1>
    <p>By <span id="text-author">Virgil</span></p>
    <a id="toggle-language" class="button card" href="#~">Toggle Latin/English</a>
</main>
<section class="block text-lines" id="text-content">
    <p>I, sequere Italiam ventis, pete regna per undas. <br>Spero equidem mediis, si quid pia numina possunt, <br>supplicia hausurum scopulis, et nomine Dido <br>saepe vocaturum.  Sequar atris ignibus absens, <br>et, cum frigida mors anima seduxerit artus, <br>omnibus umbra locis adero. Dabis, improbe, poenas. <br>Audiam et haec Manis veniet mihi fama sub imos.&#x27; <br>His medium dictis sermonem abrumpit, et auras <br>aegra fugit, seque ex oculis avertit et aufert, <br>linquens multa metu cunctantem et multa parantem<br>dicere. Suscipiunt famulae, conlapsaque membra <br>marmoreo referunt thalamo stratisque reponunt. <br>At pius Aeneas, quamquam lenire dolentem <br>solando cupit et dictis avertere curas, <br>multa gemens magnoque animum labefactus amore, <br>iussa tamen divom exsequitur, classemque revisit.</p>
</section>
<section class="block text-lines" id="text-translation">
    <p>Go, make for Italy on the winds, seek a kingdom through the waves<br>I hope that you will drain a bitter cup midway on the rocks<br>if divine order can make it so, and that you will often call Dido by name<br>I will follow, though absent, with black fires<br>And when cold death will have led my spirit from my body<br>I will be present in all places like a shade. You shameless man, will pay the punishment<br>I will hear and news of this will reach me in the depths below&quot;<br>With these words she stops mid-speech, and flees the light in anguish<br>She turns and removes herself from sight<br>Leaving him frightened, hesitant and preparing many phrases<br>The servents support her, they carry off her swooning limbs<br>to her marble chamber and put her on the bed<br>But dutiful Aeneas, although he wants to console the one in pain<br>by consoling and to turn aside her sorrow with words, <br>much groaning shaken to his heart by his great love <br>nevertheless he follows the orders of the gods, he returns to the fleet<br></p>
</section>
<section class="block" id="text-analyses">
    <h1>Summary of analyses</h1>
    
    
    <div class="card quotation" id="per-undas-scopulis">
        <h2>per undas | scopulis</h2>
        
        <div class="annotation">
            <h3>Repetition: </h3><p>many words to do with the sea, but now used as a weapon
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="spero">
        <h2>spero</h2>
        
        <div class="annotation">
            <h3>Future Promoted Verb: </h3><p>shows her future presence and suggests a sort of supernaturality in Dido
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="supplicia-hausurum">
        <h2>supplicia hausurum</h2>
        
        <div class="annotation">
            <h3>Sibilance: </h3><p>a sinister tone is created towards Aeneas
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="atris-ignibus-absens">
        <h2>atris ignibus absens</h2>
        
        <div class="annotation">
            <h3>Sibilance: </h3><p>a further sinister tone is created towards Aeneas
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="sequar">
        <h2>sequar</h2>
        
        <div class="annotation">
            <h3>Paradox: </h3><p>it is impossible to follow one once one is dead, therefore Dido demonstrates her furor and confusion
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="anima-seduxerit-artus">
        <h2>anima seduxerit artus</h2>
        
        <div class="annotation">
            <h3>Emphatic Word Order: </h3><p>the soul (&#x27;anima&#x27;) and her body (&#x27;artus&#x27;) surround her leading (&#x27;seduxerit&#x27;), emphasising her suicide
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="omnibus-umbra-locis">
        <h2>omnibus umbra locis</h2>
        
        <div class="annotation">
            <h3>Enclosing Word Order: </h3><p>Dido will be a shade (&#x27;umbra&#x27;) in all (&#x27;omnibus&#x27;) places (&#x27;locis&#x27;), emphasising the meaning
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="auras-aegra-fugit">
        <h2>auras \ aegra fugit</h2>
        
        <div class="annotation">
            <h3>Enjambement: </h3><p>Dido literally flees (&#x27;fugit&#x27;) the light (&#x27;auras&#x27;) by dropping to the next line
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="parantem-dicere">
        <h2>parantem \ dicere</h2>
        
        <div class="annotation">
            <h3>Enjambement: </h3><p>the broken structure shows how he is unable to say, or express (&#x27;dicere&#x27;) that which he wants to
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="suspiciunt">
        <h2>suspiciunt</h2>
        
        <div class="annotation">
            <h3>Promoted Verb: </h3><p>shows the immediacy of Dido&#x27;s collapse with the verb being pushed to the front
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="marmoreo">
        <h2>marmoreo</h2>
        
        <div class="annotation">
            <h3>Contrast: </h3><p>the contrasting settings of the stormy seas of the past versus the marble chamber shows Dido&#x27;s furor and detatchement from her duty
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="referunt-revisit">
        <h2>referunt | revisit</h2>
        
        <div class="annotation">
            <h3>Cyclical Structure: </h3><p>Dido leaves, Aeneas goes, showing the ending of their relations
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="pius-aeneas">
        <h2>pius Aeneas</h2>
        
        <div class="annotation">
            <h3>Epithet: </h3><p>we have returned to the good old, classic pious Aeneas!
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="animum-labefactus-amore">
        <h2>animum labefactus amore</h2>
        
        <div class="annotation">
            <h3>Contrast: </h3><p>Aeneas&#x27; duty (&#x27;animum&#x27;) against his love (&#x27;amore&#x27;) showing his struggle to leave, but he has settled for his duty
</p>
        </div>
        
    </div>
    
</section>
<a id="backtotop" class="button" href="#">Top</a>
<script>
 const toggle_language = document.querySelector("#toggle-language");
 const latin = document.querySelector("#text-content");
 const english = document.querySelector("#text-translation");

 function toggleLanguage() {
     if (latin.style.display == "none" && english.style.display == "block") {
         latin.style.display = "block";
         english.style.display = "none";
     } else {
         latin.style.display = "none";
         english.style.display = "block";
     }
 }
 toggle_language.addEventListener("click", toggleLanguage);

 const infoAnnotations = document.querySelector("#info-annotations");
 const annotations = document.querySelectorAll(".annotation");
 const content = document.querySelector("#text-content p");
 var newContent = content.innerHTML;

 for (var i = 0, a; a = annotations[i]; i++) {
     var latinLocations = a.parentNode.querySelector("h2").innerHTML.split(' | ');
     var latinID = a.parentNode.id;

     latinLocations.forEach(function(latinLocation) {
         latinLocation = latinLocation.replace(" \\ ", "<br>");
         var formulatedLink = "<a href='#" + latinID +"'>" + latinLocation + "</a> ";
         if (!newContent.includes('href=\'#' + latinID + '\'') || latinLocations.length > 1) {
             const regex = new RegExp(latinLocation + "[^-(')(/a)]", "gi");
             newContent = newContent.replace(regex, "<span class='highlight'>" + formulatedLink + "</span>");
         }
     });
 }
// newContent.replace("<br>", "<br>");
 content.innerHTML = newContent;
</script>
