---
---
<main class="block" id="text-header">
    <h1>The Invasion of Mona</h1>
    <p>By <span id="text-author">Tacitus</span></p>
    <a id="toggle-language" class="button card" href="#~">Toggle Latin/English</a>
</main>
<section class="block text-lines" id="text-content">
    <p>igitur Monam insulam, incolis validam et receptaculum perfugarum, adgredi parat, navesque fabricatur plano alveo adversus breve et incertum. sic pedites, equites vado secuti aut altiores inter undas adnantes equis tramisere. stabat pro litore diversa acies, densa armis virisque, intercursantibus feminis, quae in modum Furiarum veste ferali, crinibus disiectis faces praeferebant; Druidaeque circum, preces diras sublatis ad caelum manibus fundentes, novitate adspectus perculere militem, ut quasi haerentibus membris immobile corpus vulneribus praeberent. dein cohortationibus ducis et se ipsi stimulantes, ne muliebre et fanaticum agmen pavescerent, inferunt signa sternuntque obvios et igni suo involvunt. praesidium posthac impositum victis excisique luci saevis superstitionibus sacri: nam cruore captivo adolere aras et hominum fibris consulere deos fas habebant.</p>
</section>
<section class="block text-lines" id="text-translation">
    <p>He therefore prepared to attack the island of Mona, which had a powerful population, and was a refuge for fugitives. Thus, the infantry crossed, and the cavalry followed by fording, or, where the water was deep, swam by the side of their horses. On the shore stood the opposing army, with its dense array of armed warriors, and between the ranks dashed women; they, in funereal clothing like the Furies, carried burning brands, with their hair dishevelled. All around, the Druids, raising their hands to heaven, pouring forth dreadful imprecations, scared our soldiers by the unfamiliar sight, so that as if their limbs were paralysed, they stood motionless and exposed to wounds. Then, urged by the general&#x27;s appeals and mutual encouragements not to quail before a troop of frenzied women, they bore the standards onwards, smote down all resistance, and wrapped the foe in the flames of their own brands. A force was next set on the conquered and their armies, devoted to inhuman superstitions, were destroyed. They deem it, indeed, a duty to cover their altars with the blood of captives, and they consult their deities through human entrails.<br></p>
</section>
<section class="block" id="text-analyses">
    <h1>Summary of analyses</h1>
    
    
    <div class="card quotation" id="diversa-acies-densa-armis">
        <h2>diversa acies, densa armis</h2>
        
        <div class="annotation">
            <h3>Chiasmus: </h3><p>Repetition of &#x27;d&#x27; and &#x27;a&#x27; sounds represent the tight formation of the opposing army
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="ut-quasi-harentibus-membris">
        <h2>ut quasi harentibus membris</h2>
        
        <div class="annotation">
            <h3>Simile: </h3><p>Enhances the vivid imagery of immoving soldiers and enhances fear
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="inferunt-sternunt-involvunt">
        <h2>inferunt | sternunt | involvunt</h2>
        
        <div class="annotation">
            <h3>Tricolon: </h3><p>Quick succession of verbs (&#x27;inferunt&#x27;, &#x27;sternunt&#x27;, &#x27;involvunt&#x27;) shows the efficiency of the Roman army despite their setbacks
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="timerunt-inferunt">
        <h2>timerunt, inferunt</h2>
        
        <div class="annotation">
            <h3>Juxtaposition: </h3><p>Shows the quick transition between fear and bravery
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="luci-seavis-superstitionibus-sacri">
        <h2>luci seavis superstitionibus sacri</h2>
        
        <div class="annotation">
            <h3>Chiasmus: </h3><p>The inhuman superstitions are enclosed by the altars (&#x27;luci&#x27;) and devoted (&#x27;sacri&#x27;), enhancing the imagery of bloody altars
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="pedites-equites">
        <h2>pedites, equites</h2>
        
        <div class="annotation">
            <h3>Homeoteuleuton: </h3><p>Shows the union of the infantry (pedites) and the cavalry (equites), illustrating the organisation of the Roman army
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="furiarum">
        <h2>Furiarum</h2>
        
        <div class="annotation">
            <h3>Comparison: </h3><p>Emphasises the barbaric nature of the Celtic women, comparing them to the &#x27;Furies&#x27; - infernal goddesses
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="saevis-superstitionibus">
        <h2>saevis superstitionibus</h2>
        
        <div class="annotation">
            <h3>Sibilance: </h3><p>Used to create suspicion around the practices of the Druids, and also to arouse fear of them
</p>
        </div>
        
    </div>
    
</section>
<a id="backtotop" class="button" href="#">Top</a>
<script>
 const toggle_language = document.querySelector("#toggle-language");
 const latin = document.querySelector("#text-content");
 const english = document.querySelector("#text-translation");

 function toggleLanguage() {
     if (latin.style.display == "none" && english.style.display == "block") {
         latin.style.display = "block";
         english.style.display = "none";
     } else {
         latin.style.display = "none";
         english.style.display = "block";
     }
 }
 toggle_language.addEventListener("click", toggleLanguage);

 const infoAnnotations = document.querySelector("#info-annotations");
 const annotations = document.querySelectorAll(".annotation");
 const content = document.querySelector("#text-content p");
 var newContent = content.innerHTML;

 for (var i = 0, a; a = annotations[i]; i++) {
     var latinLocations = a.parentNode.querySelector("h2").innerHTML.split(' | ');
     var latinID = a.parentNode.id;

     latinLocations.forEach(function(latinLocation) {
         latinLocation = latinLocation.replace(" \\ ", "<br>");
         var formulatedLink = "<a href='#" + latinID +"'>" + latinLocation + "</a> ";
         if (!newContent.includes('href=\'#' + latinID + '\'') || latinLocations.length > 1) {
             const regex = new RegExp(latinLocation + "[^-(')(/a)]", "gi");
             newContent = newContent.replace(regex, "<span class='highlight'>" + formulatedLink + "</span>");
         }
     });
 }
// newContent.replace("<br>", "<br>");
 content.innerHTML = newContent;
</script>
